page-clientes {

   /* .toolbar-background {
        background-color:#93C2FF;
        
      }*/

      .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

  
 
}
