
<ion-header>

  <ion-navbar color="blue">
    <ion-grid>
      <ion-row>
        <ion-col col-1></ion-col>
    
      <img src="assets/imgs/logo2.png"/>
     </ion-row>
  </ion-grid>

  

  </ion-navbar>

</ion-header>


<ion-content padding>
      <h2 ion-text style="text-align: center;" color="secondary" >Agregar Empleado</h2>
      <!-- <img src="assets/imgs/nuevo_cliente2.png" class="center"/> -->
      <ion-content >

    <img src="assets/imgs/empleado.png" class="center"/>

            <ion-list>

                <ion-item>
                    <ion-label floating>Correo</ion-label>
                    <ion-input type="email" round [(ngModel)]="user.email" name="email" #email="ngModel" required email></ion-input>
                </ion-item>
                <div class="form-error" *ngIf="email.errors && (email.dirty || email.touched)">
                  <p color="danger" [hidden]="!email.errors.required">Campo requerido.</p>
                </div>
    
                <ion-item>
                  <ion-label floating>Contraseña</ion-label>
                  <ion-input [type]="passwordType" round [(ngModel)]="user.password" name="password" #password="ngModel" required minlength="6" clearOnEdit="false"></ion-input>
                  <ion-icon name="eye" [color]="passwordShown === true ? 'dark' : 'gray'" item-end (click)="togglePassword()"></ion-icon>
                </ion-item>
                <div class="form-error" *ngIf="password.errors && (password.dirty || password.touched)">
                  <p color="danger" [hidden]="!password.errors.required">Campo requerido.</p>
                </div>

            </ion-list>

        <div padding>
          <button ion-button block clear type="submit" round color="primary" (click)="register(user)">Registrar</button>
        </div>

</ion-content>

</ion-content>
